* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "PT Serif", serif;
  font-style: normal;
  margin: 0 auto;
  max-width: 90vw;
  font-size: clamp(1.3em, 3vw, 1.5em);
}
header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-content: space-evenly;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem 0;
}
.two-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
}
.button-shape {
  display: inline-block;
  border: solid black;
  padding: 0.6rem 1rem;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
  align-items: center;
  margin: auto;
}
.hero {
  background-color: #cfc2a0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.hero-img {
  min-width: 90vw;
  grid-column: 1;
  grid-row: 1;
  max-width: 100%;
}
h1 {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  width: fit-content;
  height: fit-content;
  top: 35%;
  left: 55%;
  color: white;
  background: black;
  border-left: solid white 0.2rem;
  border-right: solid white 0.2rem;
  padding: 1rem;
  opacity: 0.6;
  font-size: 3vw;
  line-height: 1.2;
}
.hero-text {
  display: flex;
  align-items: center;
}
.v-line {
  border-right: solid black;
  margin: 1rem;
  padding-right: 1rem;
}
.inspired h2 {
  margin-bottom: 1rem;
}
.inspired {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 1rem;
  padding: 2rem 0;
}
.inspired figure {
  max-width: 40vw;
  border-radius: 0.7rem;
  text-align: end;
}
.inspired p {
  font-weight: 400;
  font-style: italic;
}
.inspired figcaption {
  padding-top: 1rem;
}
.customised h2 {
  text-align: center;
  font-style: italic;
  word-spacing: 5px;
  border-bottom: solid black;
}
.three-pics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 1rem 0rem 5rem 0rem;
  margin: 0 auto;
}
.customised img {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}
.customised p {
  margin-top: -5rem;
  margin-right: 4rem;
  text-align: end;
  word-spacing: 0.3rem;
  font-style: italic;
  font-size: clamp(1.3em, 3vw, 1.5em);
}
hr {
  width: 80%;
  margin: 0 auto;
}
.center {
  padding: 1rem;
  text-align: center;
  margin: 2rem 0 3rem;
  font-size: clamp(1em, 1.5vw, 1.5em);
  border-top: solid black;
}
.center a {
  text-decoration: underline;
}
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: stretch;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: medium;
}
footer :nth-child(1),
footer :nth-child(2) {
  padding-right: 2rem;
}
footer :nth-child(2) {
  flex-grow: 3;
}
footer :nth-child(1),
footer :nth-child(3) {
  flex-grow: 1;
}
.footer-middle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer-links {
  border-left: solid black;
  padding-left: 2rem;
}
footer h3 {
  padding-bottom: 0.3rem;
}
footer a {
  font-weight: 700;
}